<i>Copyright (c) Microsoft Corporation. All rights reserved.</i>

<i>Licensed under the MIT License.</i>

# SAR Single Node on MovieLens (Python, CPU)

In this example, we will walk through each step of the Simple Algorithm for Recommendation (SAR) algorithm using a Python single-node implementation.

SAR is a fast, scalable, adaptive algorithm for personalized recommendations based on user transaction history. It is powered by understanding the similarity between items, and recommending similar items to those a user has an existing affinity for.

## 1 SAR algorithm

The following figure presents a high-level architecture of SAR. 

At a very high level, two intermediate matrices are created and used to generate a set of recommendation scores:

- An item similarity matrix $S$ estimates item-item relationships.
- An affinity matrix $A$ estimates user-item relationships.

Recommendation scores are then created by computing the matrix multiplication $A\times S$.

Optional steps (e.g. "time decay" and "remove seen items") are described in the details below.

<img src="https://recodatasets.z20.web.core.windows.net/images/sar_schema.svg?sanitize=true">

### 1.1 Compute item co-occurrence and item similarity

SAR defines similarity based on item-to-item co-occurrence data. Co-occurrence is defined as the number of times two items appear together for a given user. We can represent the co-occurrence of all items as a $m\times m$ matrix $C$, where $c_{i,j}$ is the number of times item $i$ occurred with item $j$, and $m$ is the total number of items.

The co-occurence matric $C$ has the following properties:

- It is symmetric, so $c_{i,j} = c_{j,i}$
- It is nonnegative: $c_{i,j} \geq 0$
- The occurrences are at least as large as the co-occurrences. I.e., the largest element for each row (and column) is on the main diagonal: $\forall(i,j) C_{i,i},C_{j,j} \geq C_{i,j}$.

Once we have a co-occurrence matrix, an item similarity matrix $S$ can be obtained by rescaling the co-occurrences according to a given metric. Options for the metric include `Jaccard`, `lift`, and `counts` (meaning no rescaling).


If $c_{ii}$ and $c_{jj}$ are the $i$th and $j$th diagonal elements of $C$, the rescaling options are:

- `Jaccard`: $s_{ij}=\frac{c_{ij}}{(c_{ii}+c_{jj}-c_{ij})}$
- `lift`: $s_{ij}=\frac{c_{ij}}{(c_{ii} \times c_{jj})}$
- `counts`: $s_{ij}=c_{ij}$

In general, using `counts` as a similarity metric favours predictability, meaning that the most popular items will be recommended most of the time. `lift` by contrast favours discoverability/serendipity: an item that is less popular overall but highly favoured by a small subset of users is more likely to be recommended. `Jaccard` is a compromise between the two.


### 1.2 Compute user affinity scores

The affinity matrix in SAR captures the strength of the relationship between each individual user and the items that user has already interacted with. SAR incorporates two factors that can impact users' affinities: 

- It can consider information about the **type** of user-item interaction through differential weighting of different events (e.g. it may weigh events in which a user rated a particular item more heavily than events in which a user viewed the item).
- It can consider information about **when** a user-item event occurred (e.g. it may discount the value of events that take place in the distant past.

Formalizing these factors produces us an expression for user-item affinity:

$$a_{ij}=\sum_k w_k \left(\frac{1}{2}\right)^{\frac{t_0-t_k}{T}} $$

where the affinity $a_{ij}$ for user $i$ and item $j$ is the weighted sum of all $k$ events involving user $i$ and item $j$. $w_k$ represents the weight of a particular event, and the power of 2 term reflects the temporally-discounted event. The $(\frac{1}{2})^n$ scaling factor causes the parameter $T$ to serve as a half-life: events $T$ units before $t_0$ will be given half the weight as those taking place at $t_0$.

Repeating this computation for all $n$ users and $m$ items results in an $n\times m$ matrix $A$. Simplifications of the above expression can be obtained by setting all the weights equal to 1 (effectively ignoring event types), or by setting the half-life parameter $T$ to infinity (ignoring transaction times).

### 1.3 Remove seen item

Optionally we remove items which have already been seen in the training set, i.e. don't recommend items which have been previously bought by the user again.

### 1.4 Top-k item calculation

The personalized recommendations for a set of users can then be obtained by multiplying the affinity matrix ($A$) by the similarity matrix ($S$). The result is a recommendation score matrix, where each row corresponds to a user, each column corresponds to an item, and each entry corresponds to a user / item pair. Higher scores correspond to more strongly recommended items.

It is worth noting that the complexity of recommending operation depends on the data size. SAR algorithm itself has $O(n^3)$ complexity. Therefore the single-node implementation is not supposed to handle large dataset in a scalable manner. Whenever one uses the algorithm, it is recommended to run with sufficiently large memory.

## 2 SAR single-node implementation

The SAR implementation illustrated in this notebook was developed in Python, primarily with Python packages like `numpy`, `pandas`, and `scipy` which are commonly used in most of the data analytics / machine learning tasks. Details of the implementation can be found in [Recommenders/recommenders/models/sar/sar_singlenode.py](../../recommenders/models/sar/sar_singlenode.py).

## 3 SAR single-node based movie recommender

In [1]:
# set the environment path to find Recommenders
import sys

import itertools
import logging
import os

import numpy as np
import pandas as pd
import papermill as pm

from recommenders.datasets import movielens
from recommenders.datasets.python_splitters import python_stratified_split
from recommenders.evaluation.python_evaluation import map_at_k, ndcg_at_k, precision_at_k, recall_at_k
from recommenders.models.sar.sar_singlenode import SARSingleNode

print("System version: {}".format(sys.version))
print("Pandas version: {}".format(pd.__version__))

System version: 3.8.5 (default, Sep  4 2020, 07:30:14)
[GCC 7.3.0]
Pandas version: 1.4.1

In [2]:
# top k items to recommend
TOP_K = 10

# Select MovieLens data size: 100k, 1m, 10m, or 20m
MOVIELENS_DATA_SIZE = '100k'

### 3.1 Load Data

SAR is intended to be used on interactions with the following schema:
`<User ID>, <Item ID>, <Time>`. 

Each row represents a single interaction between a user and an item. These interactions might be different types of events on an e-commerce website, such as a user clicking to view an item, adding it to a shopping basket, following a recommendation link, and so on. 

The MovieLens dataset is well formatted interactions of Users providing Ratings to Movies (movie ratings are used as the event weight) - we will use it for the rest of the example.

In [6]:
movie_data = "/opt/ml/input/data/train/titles.tsv"
raw_movie_df = pd.read_csv(movie_data, sep='\t')

# raw_movie_df = pd.read_csv(movie_data)
raw_movie_df

        item                                              title
0        318                   Shawshank Redemption, The (1994)
1       2571                                 Matrix, The (1999)
2       2959                                  Fight Club (1999)
3        296                                Pulp Fiction (1994)
4        356                                Forrest Gump (1994)
...      ...                                                ...
6802   73106  American Pie Presents: The Book of Love (Ameri...
6803  109850                              Need for Speed (2014)
6804    8605                                      Taxi 3 (2003)
6805    3689                    Porky's II: The Next Day (1983)
6806    8130                         Girl Next Door, The (1999)

[6807 rows x 2 columns]

In [4]:
# TODO
# 1. Rating df 생성
rating_data = "/opt/ml/input/data/train/train_ratings.csv"

raw_rating_df = pd.read_csv(rating_data)
raw_rating_df
raw_rating_df['rating'] = 1.0 # implicit feedback

# raw_rating_df.drop(['time'],axis=1,inplace=True)

print("Raw rating df")
print(raw_rating_df)

# users = set(raw_rating_df.loc[:, 'user'])
# items = set(raw_rating_df.loc[:, 'item'])

# #2. Genre df 생성
# genre_data = "/opt/ml/input/data/train/genres.tsv"

# raw_genre_df = pd.read_csv(genre_data, sep='\t')
# raw_genre_df = raw_genre_df.drop_duplicates(subset=['item']) #item별 하나의 장르만 남도록 drop
# # 장르 clustering 재정의
# # print(raw_genre_df)

# genre_dict = {genre:i for i, genre in enumerate(set(raw_genre_df['genre']))}
# raw_genre_df['genre']  = raw_genre_df['genre'].map(lambda x : genre_dict[x]) #genre id로 변경
# print("Raw genre df - changed to id")
# print(raw_genre_df)

Raw rating df
           user   item        time  rating
0            11   4643  1230782529     1.0
1            11    170  1230782534     1.0
2            11    531  1230782539     1.0
3            11    616  1230782542     1.0
4            11   2140  1230782563     1.0
...         ...    ...         ...     ...
5154466  138493  44022  1260209449     1.0
5154467  138493   4958  1260209482     1.0
5154468  138493  68319  1260209720     1.0
5154469  138493  40819  1260209726     1.0
5154470  138493  27311  1260209807     1.0

[5154471 rows x 4 columns]

In [7]:
raw_movie_df
raw_rating_df
full_df=pd.merge(left=raw_rating_df, right=raw_movie_df, on='item', how='left')

In [9]:
full_df = full_df[['user','item','rating','time','title']]
full_df.columns=['UserId','MovieId','Rating','Timestamp','Title']
full_df

,UserId,MovieId,Rating,Timestamp,Title
0,11,4643,1.0,1230782529,Planet of the Apes (2001)
1,11,170,1.0,1230782534,Hackers (1995)
2,11,531,1.0,1230782539,"Secret Garden, The (1993)"
3,11,616,1.0,1230782542,"Aristocats, The (1970)"
4,11,2140,1.0,1230782563,"Dark Crystal, The (1982)"
...,...,...,...,...,...
5154466,138493,44022,1.0,1260209449,Ice Age 2: The Meltdown (2006)
5154467,138493,4958,1.0,1260209482,Behind Enemy Lines (2001)
5154468,138493,68319,1.0,1260209720,X-Men Origins: Wolverine (2009)
5154469,138493,40819,1.0,1260209726,Walk the Line (2005)
5154470,138493,27311,1.0,1260209807,Batman Beyond: Return of the Joker (2000)

In [25]:
full_df[full_df['UserId']==1]

Empty DataFrame
Columns: [UserId, MovieId, Rating, Timestamp, Title]
Index: []

In [3]:
data = movielens.load_pandas_df(
    size=MOVIELENS_DATA_SIZE,
    header=['UserId', 'MovieId', 'Rating', 'Timestamp'],
    title_col='Title'
)
data
# Convert the float precision to 32-bit in order to reduce memory consumption 
# data.loc[:, 'Rating'] = data['Rating'].astype(np.float32)

# data.head()

100%|██████████| 4.81k/4.81k [00:01<00:00, 3.07kKB/s]

,UserId,MovieId,Rating,Timestamp,Title
0,196,242,3.0,881250949,Kolya (1996)
1,63,242,3.0,875747190,Kolya (1996)
2,226,242,5.0,883888671,Kolya (1996)
3,154,242,3.0,879138235,Kolya (1996)
4,306,242,5.0,876503793,Kolya (1996)
...,...,...,...,...,...
99995,840,1674,4.0,891211682,Mamma Roma (1962)
99996,655,1640,3.0,888474646,"Eighth Day, The (1996)"
99997,655,1637,3.0,888984255,Girls Town (1996)
99998,655,1630,3.0,887428735,"Silence of the Palace, The (Saimt el Qusur) (1..."
99999,655,1641,3.0,887427810,Dadetown (1995)

### 3.2 Split the data using the python random splitter provided in utilities:

We split the full dataset into a `train` and `test` dataset to evaluate performance of the algorithm against a held-out set not seen during training. Because SAR generates recommendations based on user preferences, all users that are in the test set must also exist in the training set. For this case, we can use the provided `python_stratified_split` function which holds out a percentage (in this case 25%) of items from each user, but ensures all users are in both `train` and `test` datasets. Other options are available in the `dataset.python_splitters` module which provide more control over how the split occurs.

In [10]:
header = {
    "col_user": "UserId",
    "col_item": "MovieId",
    "col_rating": "Rating",
    "col_timestamp": "Timestamp",
    "col_prediction": "Prediction",
}

In [11]:
train, test = python_stratified_split(data, ratio=0.75, col_user=header["col_user"], col_item=header["col_item"], seed=42)

In this case, for the illustration purpose, the following parameter values are used:

|Parameter|Value|Description|
|---------|---------|-------------|
|`similarity_type`|`jaccard`|Method used to calculate item similarity.|
|`time_decay_coefficient`|30|Period in days (term of $T$ shown in the formula of Section 1.2)|
|`time_now`|`None`|Time decay reference.|
|`timedecay_formula`|`True`|Whether time decay formula is used.|

In [12]:
# set log level to INFO
logging.basicConfig(level=logging.DEBUG, 
                    format='%(asctime)s %(levelname)-8s %(message)s')

model = SARSingleNode(
    similarity_type="jaccard", 
    time_decay_coefficient=30, 
    time_now=None, 
    timedecay_formula=True, 
    **header
)

In [13]:
model.fit(train)

2022-04-02 09:12:55,059 INFO     Collecting user affinity matrix
2022-04-02 09:12:55,062 INFO     Calculating time-decayed affinities
2022-04-02 09:12:55,090 INFO     Creating index columns
2022-04-02 09:12:55,183 INFO     Building user affinity sparse matrix
2022-04-02 09:12:55,188 INFO     Calculating item co-occurrence
2022-04-02 09:12:55,367 INFO     Calculating item similarity
2022-04-02 09:12:55,368 INFO     Using jaccard based similarity
2022-04-02 09:12:55,433 INFO     Done training

In [14]:
top_k = model.recommend_k_items(test, remove_seen=True)

2022-04-02 09:13:00,071 INFO     Calculating recommendation scores
2022-04-02 09:13:00,144 INFO     Removing seen items

The final output from the `recommend_k_items` method generates recommendation scores for each user-item pair, which are shown as follows.

In [15]:
top_k_with_titles = (top_k.join(data[['MovieId', 'Title']].drop_duplicates().set_index('MovieId'), 
                                on='MovieId', 
                                how='inner').sort_values(by=['UserId', 'Prediction'], ascending=False))
display(top_k_with_titles.head(10))

      UserId  MovieId  Prediction                              Title
9420     943       82   21.313228               Jurassic Park (1993)
9421     943      403   21.158840                      Batman (1989)
9422     943      568   20.962922                       Speed (1994)
9423     943      423   20.162170  E.T. the Extra-Terrestrial (1982)
9424     943       89   19.890512                Blade Runner (1982)
9425     943      393   19.832944              Mrs. Doubtfire (1993)
9426     943       11   19.570244               Seven (Se7en) (1995)
9427     943       71   19.553877              Lion King, The (1994)
9428     943      202   19.422129               Groundhog Day (1993)
9429     943      238   19.115604             Raising Arizona (1987)

In [17]:
top_k_with_titles = top_k_with_titles.drop(columns=['Title'])
top_k_with_titles

      UserId  MovieId  Prediction
9420     943       82   21.313228
9421     943      403   21.158840
9422     943      568   20.962922
9423     943      423   20.162170
9424     943       89   19.890512
...      ...      ...         ...
5          1      655    3.108431
6          1      191    3.063207
7          1      367    3.052128
8          1      433    2.993657
9          1       98    2.973371

[9430 rows x 3 columns]

In [18]:
temp = top_k_with_titles

In [19]:
ttmp = temp.sort_values(by=["Prediction"]).groupby("UserId")
ttmp

In [21]:
tttmp=pd.DataFrame(
    data={
        "UserId": list(ttmp.groups.keys()),
        "MovieId": list(ttmp.MovieId.apply(list)),
        "Prediction":list(ttmp.Prediction.apply(list)),
    }
)
tttmp

,UserId,MovieId,Prediction
0,1,"[98, 433, 367, 191, 655, 56, 204, 423, 69, 238]","[2.973371325957412, 2.993657259642765, 3.05212..."
1,2,"[546, 742, 121, 222, 111, 7, 117, 258, 100, 181]","[7.180583999320101, 7.205699182526566, 7.27721..."
2,3,"[270, 879, 326, 678, 301, 269, 748, 307, 313, ...","[4.505325860872711, 4.591628812767746, 4.59535..."
3,4,"[322, 56, 174, 222, 127, 1, 333, 302, 286, 181]","[7.903786097722608, 7.936382525685918, 7.94434..."
4,5,"[228, 451, 196, 96, 568, 202, 71, 423, 161, 82]","[0.6799012584972017, 0.6803336041043726, 0.683..."
...,...,...,...
938,939,"[597, 50, 125, 282, 181, 111, 25, 1, 405, 117]","[0.83684758198649, 0.8441125995240363, 0.85300..."
939,940,"[82, 195, 423, 64, 196, 238, 79, 69, 210, 174]","[7.190343800744721, 7.435377265991522, 7.43624..."
940,941,"[100, 25, 237, 151, 405, 118, 546, 117, 121, 50]","[0.09846441215380838, 0.09876463214122377, 0.0..."
941,942,"[195, 496, 238, 64, 196, 483, 204, 79, 172, 69]","[25.626165041202814, 25.62823793820778, 25.768..."
942,943,"[238, 202, 71, 11, 393, 89, 423, 568, 403, 82]","[19.115603897147754, 19.42212872052731, 19.553..."

In [22]:
# submission = pd.DataFrame()
u_ll=[]
i_ll=[]
for idx,row in tttmp.iterrows():
    i_ll.append(row['MovieId'][-10:])
    u_ll.append(row['UserId'])

In [23]:
last_pd=pd.DataFrame(
    data={
        "UserId": u_ll,
        "MovieId": i_ll,
    }
)
submission = last_pd[["UserId", "MovieId"]].explode(
    "MovieId", ignore_index=True
)
submission.to_csv("/opt/ml/Recommenders/sardeep-submission.csv",index=False)

### 3.3 Evaluate the results

It should be known that the recommendation scores generated by multiplying the item similarity matrix $S$ and the user affinity matrix $A$ **DOES NOT** have the same scale with the original explicit ratings in the movielens dataset. That is to say, SAR algorithm is meant for the task of *recommending relevent items to users* rather than *predicting explicit ratings for user-item pairs*. 

To this end, ranking metrics like precision@k, recall@k, etc., are more applicable to evaluate SAR algorithm. The following illustrates how to evaluate SAR model by using the evaluation functions provided in the `recommenders`.

In [10]:
# all ranking metrics have the same arguments
args = [test, top_k]
kwargs = dict(col_user='UserId', 
              col_item='MovieId', 
              col_rating='Rating', 
              col_prediction='Prediction', 
              relevancy_method='top_k', 
              k=TOP_K)

eval_map = map_at_k(*args, **kwargs)
eval_ndcg = ndcg_at_k(*args, **kwargs)
eval_precision = precision_at_k(*args, **kwargs)
eval_recall = recall_at_k(*args, **kwargs)

In [11]:
print(f"Model:",
      f"Top K:\t\t {TOP_K}",
      f"MAP:\t\t {eval_map:f}",
      f"NDCG:\t\t {eval_ndcg:f}",
      f"Precision@K:\t {eval_precision:f}",
      f"Recall@K:\t {eval_recall:f}", sep='\n')

Model:
Top K:		 10
MAP:		 0.095544
NDCG:		 0.350232
Precision@K:	 0.305726
Recall@K:	 0.164690

## References
Note SAR is a combinational algorithm that implements different industry heuristics. The followings are references that may be helpful in understanding the SAR logic and implementation. 

1. Badrul Sarwar, *et al*, "Item-based collaborative filtering recommendation algorithms", WWW, 2001.
2. Scipy (sparse matrix), url: https://docs.scipy.org/doc/scipy/reference/sparse.html
3. Asela Gunawardana and Guy Shani, "A survey of accuracy evaluation metrics of recommendation tasks", The Journal of Machine Learning Research, vol. 10, pp 2935-2962, 2009.